* {
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin: 0;
}
.container {
    background-color: #fafafa;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 87.5%;
    background-image: linear-gradient(180deg, hsl(293, 100%, 63%) 20%, hsl(264, 100%, 61%) );
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 45%;
    left: -10%;
    top: 0%;
}
.container::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 87.5%;
    background-color: #f7f5fa;
    border-top-left-radius: 50%;
    border-top-right-radius: 45%;
    right: -10%;
    bottom: 0%;
}
.container .holder {
    width: 57%;
    padding: 65px 0 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 767px) {
    .container {
        height: fit-content;
    }
    .container .holder {
        flex-direction: column;
        text-align: center;
    }
    .container .holder .text h1 {
        margin-top: 70px;
    }
    .container::after, .container::before {
        width: 90%;
        height: 53%;
    }
    .container::before {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 90%;
        left: -40%;
    }
    .container::after {
        border-top-left-radius: 50%;
        border-top-right-radius: 90%;
        right: -40%;
    }
    .container .holder .text {
        margin-left: 0% !important;
    }
}
.chat-box {
    background-color:#f5f3f8 ;
    border: solid #fffeff 10px ;
    border-radius: 35px;
    min-width: 250px;
    height: 505px;
    box-shadow: 2px 2px 15px 2px rgb(0 0 0 / 11%);
    position: relative;
    z-index: 20;
}
.header {
    height: 66px;
    width: 100%;
    background-image: linear-gradient(90deg,  hsl(264, 100%, 61%) 20%, hsl(293, 100%, 63%));
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    position: relative;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 12%);
}
.header::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 130px;
    border-radius: 25px;
    background-color: #fffeff;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
}
.header .box {
    width: 100%;
    display: flex;
    align-items: center;
    height: 46px;
    bottom: 0;
    position: absolute;
}
.header img {
    width: 25px;
    border-radius: 50%;
    border: hsl(276, 100%, 95%) solid 2px;
}
.header .box::before {
    content: "<";
    color: hsl(276, 100%, 95%);
    margin-right: 7px;
    margin-left: 15px;
    font-size: 13px;
}
.header .box::after {
    content: "⋮";
    color: hsl(276, 100%, 95%);
    margin-right: 15px;
    font-size: 12px;
    direction: rtl;
    cursor: pointer;
}
.header .info {
    margin-left: 10px;
    line-height: 1;
    flex: 1;
    text-align: left;
}
.header h3 {
    margin: 0;
    font-size: 11px;
    color: hsl(276, 100%, 95%);
}
.header span {
    color: hsl(276, 100%, 81%);
    font-size: 8px;
    
}
.messages {
    font-size: 8px;
    padding: 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 360px;
    justify-content: space-evenly;
    text-align: left;
}
.messages span:not(label>span) {
    width: 140px;
    display: block;
    background-color: #efe4f4;
    border-radius: 10px;
    padding: 7px;
    color: hsl(276, 55%, 52%);
    line-height: 1.5;
}
.messages span.customer {
    color: hsl(271, 15%, 43%);
    background-color: white;
    align-self: end;
}
.messages span.customer img {
    width: 40px;
    border-radius: 10px;
}
.messages .offer  {
    background-image: linear-gradient(90deg,  hsl(293, 100%, 63%) 20%, hsl(264, 100%, 61%)  );
    border-radius: 10px;
    margin: 10px 0px;
    padding: 7px;
    width: 160px;
    display: flex;
    align-items: center;
}
.messages .offer input {
    appearance: none;
    border: hsl(289, 100%, 72%) solid 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messages .offer input::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #ffd5ff;
    border-radius: 50%;
    transform: scale(0);
    transition: .3s;
}
.messages .offer input:checked::before {
    transform: scale(1);
}
.messages .offer label {
    color: #ffd5ff;
    padding-left: 5px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.messages .offer span {
    font-weight: 600;
    font-size: 13px;
}
form.footer {
    position: absolute;
    bottom: 0%;
    left: 0px;
    height: 35px;
    margin: 12px 10px;
    width: 100%;
    display: flex;
}
form.footer textarea {
    height: 35px;
    resize: none;
    border-radius: 30px;
    width: 91%;
    border: none;
    font-size: 10px;
    padding: 10px 20px 10px;
}
form.footer textarea::placeholder {
    color: hsl(206, 6%, 79%);
}
form.footer textarea:focus {
    outline: none;
}
form.footer button {
    transform: translateX(-30px);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 5px 0px;
    background-color: hsl(271, 36%, 24%);
    border: none;
    cursor: pointer;
}
form.footer button span {
    color: white;
    font-weight: 600;
}

.container .holder .text {
    max-width: 450px;
    position: relative;
    z-index: 1;
    margin-left: 15%;
}
.container .holder .text h1 {
    color: hsl(271, 36%, 24%);
    min-width: 293px;
    font-size: 39px;
}
.container .holder .text p {
    color: hsl(270, 7%, 64%);
    line-height: 1.5;
    margin: 0;
}
.attribution {
    margin: -35px 0 0;
    position: relative;
}